@import '~node_modules/@angular/material/theming';

/**
    Custom Profect typography definition.
    This could be used in the future to define the typography for the whole application.
    To do that we would have to set the css class of the body of the index.html to "mat-typography" like
    <body class="mat-typography">
    Currently this will break the layout a lot.

    See https://material.angular.io/guide/typography for usage of angular material typography
*/
$profect-typography: mat-typography-config(
  $font-family: $v7-font-p-size,
//   $headline: mat-typography-level(calculateRem(27.44px), calculateRem(38.42px), bold),
//   $title: mat-typography-level(calculateRem(19.6px), calculateRem(27.44px), bold),
//   $body-1: mat-typography-level(calculateRem(14px), calculateRem(40px), normal),
//   $body-2: mat-typography-level(calculateRem(14px), calculateRem(40px), bold),
//   $caption: mat-typography-level(calculateRem(10px), calculateRem(14px), normal),
//   $button: mat-typography-level(calculateRem(14px), calculateRem(40px), normal),
   $input: mat-typography-level(0.875rem, 1.25, normal)
) !default;

    // always include only once per project
@include mat-core($profect-typography);


//The following Color Palettes have been generated using https://angular-md-color.com/#/
//Define Profect Gray Color Palette
$PROFECT-GRAY-PALETTE: (
    50: #7f8895,
    100: #717b89,
    200: #666f7b,
    300: #5a626d,
    400: #4f565f,
    500: #434951,
    600: #373c43,
    700: #2c3035,
    800: #202327,
    900: #151719,
    A100: #8d95a0,
    A200: #9ba2ac,
    A400: #a9afb7,
    A700: #090a0b,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

//Define Profect Orange Color Palette
$PROFECT-ORANGE-PALETTE: (
    50: #742407,
    100: #8c2c09,
    200: #a4330a,
    300: #bc3b0c,
    400: #d3420d,
    500: #eb4a0f,
    600: #f36c3b,
    700: #f47e53,
    800: #f6906b,
    900: #f7a283,
    A100: #f36c3b,
    A200: #F15A23,
    A400: #eb4a0f,
    A700: #f9b49b,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    )
);


//Define Profect Warning Color Palette
$PROFECT-WARN-PALETTE: (
    50: #fe3357,
    100: #fe1942,
    200: #fc012e,
    300: #e30129,
    400: #c90125,
    500: #B00120,
    600: #97011b,
    700: #7d0117,
    800: #640112,
    900: #4b000e,
    A100: #fe4c6c,
    A200: #fe6580,
    A400: #fe7f95,
    A700: #310009,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    )
);

$v7-theme-primary: mat-palette($PROFECT-GRAY-PALETTE) !default;
$v7-theme-accent: mat-palette($PROFECT-ORANGE-PALETTE) !default;
$v7-theme-warn: mat-palette($PROFECT-WARN-PALETTE) !default;

// create theme (use mat-dark-theme for themes with dark backgrounds)
$v7-theme: mat-light-theme(
    $v7-theme-primary,
    $v7-theme-accent,
    $v7-theme-warn
) !default;

body {
    @include angular-material-theme($v7-theme);
}
