
//can be removed once chart lib is included in the project --sme
$lightgrey: #f0f0f0;
.skeletonPulse {
    height: 100%;
    width: 100%;
    background: linear-gradient(-90deg, $lightgrey 0%, darken($lightgrey, 5%) 50%, $lightgrey 100%);
    background-size: 400% 100%;
    animation: pulse 1.2s ease-in-out infinite;
    @keyframes pulse {
        0% {
            background-position: 0% 0%
        }
        100% {
            background-position: -135% 0%
        }
    }
}

//tableview adjustments

$mat-cell-min-width: 0rem;

v7-tableview-cuco-component {

  .v7-dataview {
    padding-left: 1.5rem !important;
    padding-right: 2.5rem !important;
  }

  .table .mat-row .mat-cell,
  .v7-tableview-table-header-data {
    padding-left: 0.5rem !important;
    &:last-of-type {
      padding-left: 0rem !important;
      padding-right: 0rem !important;
    }
  }

  .v7-tableview-table-row, .v7-tableview-table-header-data {
    &.edit-column, &.delete-column {
      min-width: 2.7rem;
      button {
        padding: 0rem !important;
        mat-icon {
          fill: grey;
          &:hover {
            fill: black;
          }
        }
      }
    }
  }
}

.employee-form {
    h2 {
        font-size: $v7-font-h1-size;
    }
}

.add-employee-flow-panel {
    flex-direction: row-reverse;
    margin-top: 3em;
    margin-right: 12em;
}

.employee-table {
    .v7-tableview-body {
        max-height: calc(calc(100vh - 4rem - 2.5rem) - 2rem - 4rem - calc(2rem + 2.1875rem) - 8rem);
    }
}

.absence-form {
    h2 {
        font-size: $v7-font-h1-size;
    }
}

.add-absence-flow-panel {
    flex-direction: row-reverse;
    margin-top: 3em;
    margin-right: 12em;
}

.absence-table {
    .v7-tableview-body {
        max-height: calc(calc(100vh - 4rem - 2.5rem) - 2rem - 4rem - calc(2rem + 2.1875rem) - 8rem);
    }
}

.chargeability-form {
    h2 {
        font-size: $v7-font-h1-size;
    }
}

.add-chargeability-flow-panel {
    flex-direction: row-reverse;
    margin-top: 3em;
    margin-right: 12em;
}

.chargeability-table {
    .v7-tableview-body {
        max-height: calc(calc(100vh - 4rem - 2.5rem) - 2rem - 4rem - calc(2rem + 2.1875rem) - 8rem);
    }
}


.v7-panel {
    .panel-dialog {
        .panel-dialog-header {
            justify-content: space-between !important;
        }
        h2 {
            display: none !important;
        }
    }
}

.employee-first-name-control {
    mat-form-field{
        width: 100%;
    }
}

.employee-last-name-control {
    mat-form-field{
        width: 100%;
    }
}

.daily-hours {
    mat-form-field{
        width: 15%;
    }
}

.chargeability-date {
    mat-form-field{
        width: 45%;
    }
}

.flow-row {
    display: flex;
    justify-content: space-between;
    & > div {
      width: 100%;
    }
    v7-dynamic-form-control-text-component,
    v7-dynamic-form-control-drop-down-component,
    v7-dynamic-form-control-date-chooser-component,
    v7-dynamic-form-control-text-area-component,
    v7-dynamic-form-control-number-component,
    v7-dynamic-form-control-checkbox-component {
      display: flex;
      flex-grow: 1;
      & > div, mat-form-field {
        width: 100%;
      }
      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    v7-dynamic-form-control-checkbox-component {
      padding-bottom: 1.4375em;
    }
}

.table-view-button-bar {
  justify-content: flex-end;
}

.v7-assignment-tool-full-page {
  padding: 0px 4rem;
  overflow: auto !important;
  height: calc(100vh - 4rem - 2.5rem);
}

.v7-assignment-employee-page {
  .col.no-gutters{
    overflow-x: auto;
  }
}

.edit-column {
  flex: 0 0 2rem !important;
}
.delete-column {
  flex: 0 0 2rem !important;
}

v7-tableview-cuco-component {
    display: $v7-tableview-display;

    .v7-dataview {
      .v7-tableview-body {
        overflow: $v7-tableview-body-overflow;
      }
      overflow: auto;
    }

    .tableview-mat-card {
      width: $v7-tableview-mat-card-width;
      padding: $v7-tableview-mat-card-padding;
      border-radius: $v7-tableview-mat-card-border-radius;

      .mat-progress-spinner {
        margin: $v7-tableview-mat-progress-spinner-margin;
      }
    }

    @include no-user-select;
    overflow: $v7-tableview-overflow;

    .clickable {
      .v7-tableview-table-row-data {
        @include pointer-cursor;
      }
    }

    .v7-tableview-table {
      background-attachment: scroll;
      background-clip: border-box;
      background-image: none;
      background-origin: padding-box;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
      display: block;
      overflow-x: auto;
      overflow-y: auto;
    }

    .table {
      overflow: $v7-tableview-overflow;
      min-width: $v7-table-min-width;
      margin-bottom: $v7-tableview-table;

      .mat-row {
        border-style: $mat-row-border-style;
        min-height: $mat-row-height;
        max-height: $mat-row-height;
        display: flex;
        align-items: center;
        &:hover {
          background-color: $tableview-row-hover;
        }

        .mat-cell {
          display: $mat-cell-display;
          white-space: $mat-cell-white-space;
          overflow: $mat-cell-overflow;
          text-overflow: $mat-cell-text-overflow;
          padding-top: $mat-cell-padding-top;
          padding-left: $mat-cell-padding-left;
          //border-bottom: $mat-cell-border-bottom;
          align-items: center;
          flex-basis: 0%;
          flex-grow: 1;
          flex-shrink: 1;
          overflow-wrap: break-word;
          &:last-of-type {
            padding-right: $mat-cell-padding-right;
          }
          &.emptyColumn {
            max-width: 0;
            padding-left: 0;
          }
        }
      }

      .mat-row:nth-child(even):not(.v7-tableview-table-row-selected) {
        .mat-cell {
          background-color: $tableview-row-even;
        }
      }

      .mat-row:nth-child(odd):not(.v7-tableview-table-row-selected) {
        .mat-cell {
          background-color: $background-subpanel-color;
        }
      }

      .v7-tableview-checkbox {
        width: $v7-tableview-checkbox-width;
        height: $v7-tableview-checkbox-height;
      }

      .v7-tableview-table-row-selected {
        @include default-cursor;
        background-color: $tableview-row-selected !important;
      }
    }

    color: $v7-tableview-font-color;
    padding-right: $v7-tableview-padding-right; //TODO: fix the padding after the left-right-panel has been revamped
    padding-left: $v7-tableview-padding-left; //TODO: fix the padding after the left-right-panel has been revamped

    .v7-tableview-body {
      overflow: inherit;
      min-width: $v7-tableview-body-min-width;
    }

    .v7-tableview-caption {
      font-size: $v7-tableview-caption-font-size;
    }

    .v7-tableview-table-header {
      background: $v7-tableview-table-header-background;
      color: $v7-tableview-table-header-font-color;
    }

    .v7-tableview-table-header-data-container {
      display: $v7-tableview-table-header-data-container-display;
      margin: $v7-tableview-table-header-data-container-margin;
      align-items: $v7-tableview-table-data-container-align-items;

      .mat-sort-header-arrow {
        color: $main-color;
      }
    }

    .mat-header-row {
      min-height: $mat-row-height;
      max-height: $mat-row-height;
      display: flex;
      align-items: center;
      border-bottom-style: solid;
      border-bottom-width: $v7-tableview-table-header-border-bottom-width;
      .mat-header-cell {
        border-bottom: $v7-tableview-table-header-data-border-bottom;
        display: $mat-cell-display;
        padding-top: $mat-cell-padding-top;
        align-items: center;
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
        overflow-wrap: break-word;
        .v7-tableview-table-header-data-container {
          .v7-tableview-table-header-data-content {
            white-space: $mat-cell-white-space;
            overflow: $mat-cell-overflow;
            text-overflow: $mat-cell-text-overflow;
          }
        }
      }

      &.filter, .filter {
        min-height: $v7-tablewview-filter-height;
        max-height: $v7-tablewview-filter-height;
        display: flex;
        align-items: center;
        border-bottom-style: solid;
        border-bottom-width: $v7-tableview-table-header-border-bottom-width;
        .mat-header-cell {
          display: $mat-cell-display;
          padding: 0;
          align-items: center;
          flex-basis: 0%;
          flex-grow: 1;
          flex-shrink: 1;
          overflow-wrap: break-word;
          .v7-tableview-table-header-data-container {
            .v7-tableview-table-header-data-content {
              white-space: $mat-cell-white-space;
              overflow: $mat-cell-overflow;
              text-overflow: $mat-cell-text-overflow;
            }
          }
        }
      }
    }

    .v7-tableview-table-header-data {
      @include v7-viewtable-row-shared();
      @extend .v7-font-p-strong;
      font-weight: $v7-tableview-table-header-data-font-weight;
      border-bottom: $v7-tableview-table-header-data-border-bottom;
      padding-left: $mat-cell-padding-left;
      min-width: $mat-cell-min-width;
      &:last-of-type {
        padding-right: $mat-cell-padding-right;
      }
      &:first-of-type {
        &.checkbox {
          max-width: $mat-cell-first-of-type-width;
          min-width: $mat-cell-first-of-type-width;
        }
        &.checkboxOnLoad {
          max-width: $mat-cell-first-of-type-width;
          min-width: $mat-cell-first-of-type-width;
        }
      }
      white-space: $mat-cell-white-space;
      overflow: $mat-cell-overflow;
      text-overflow: $mat-cell-text-overflow;

      .v7-tableview-table-header-data-content {
        @include pointer-cursor;
        @extend .v7-font-p-strong;
        .v7-tableview-sort-button {
          margin-left: $v7-tableview-header-sort-button-margin-left;
          visibility: $v7-tableview-header-sort-button-visibility;
          vertical-align: $v7-tableview-header-sort-button-vertical-align;

          .mat-icon {
            width: $v7-tableview-header-sort-button-icon-size;
            height: $v7-tableview-header-sort-button-icon-size;
            fill: $hint-color;

            svg {
              width: $v7-tableview-header-sort-button-icon-size;
              height: $v7-tableview-header-sort-button-icon-size;
            }
          }
        }
        .v7-tableview-sort-button-active {
          visibility: $v7-tableview-header-sort-button-active-visibility;
          .mat-icon {
            fill: $main-color;
          }
        }

        .v7-tableview-filter-icon {
          vertical-align: $v7-tableview-header-sort-button-vertical-align;

          .mat-icon {
            width: $v7-tableview-header-sort-button-icon-size;
            height: $v7-tableview-header-sort-button-icon-size;
            fill: $main-color;

            svg {
              width: $v7-tableview-header-sort-button-icon-size;
              height: $v7-tableview-header-sort-button-icon-size;
            }
          }
        }

        .v7-tableview-filter-icon-selected {
          .mat-icon {
            fill: $main-color;
          }
        }

        .v7-tableview-filter-icon-selected {
          .mat-icon {
            fill: $second-color;
          }
        }

        > div {
          justify-content: $v7-tableview-table-header-data-content-div-justify-content;
        }

        &:hover {
          .v7-tableview-sort-button {
            visibility: $v7-tableview-header-sort-button-active-visibility;
          }
        }
      }

      .v7-tableview-table-header-data-menu {
        @include v7-viewtable-datamenu-shared;
        @extend .v7-font-p;
        visibility: $v7-tableview-table-header-data-menu-visibility;
        .mat-icon {
          width: $v7-tableview-table-header-data-menu-icon-size;
          height: $v7-tableview-table-header-data-menu-icon-size;
          fill: $main-color;
          vertical-align: $v7-tableview-table-header-data-menu-icon-vertical-align;

          svg {
            width: $v7-tableview-table-header-data-menu-icon-size;
            height: $v7-tableview-table-header-data-menu-icon-size;
          }
        }
      }

      &:hover {
        .v7-tableview-table-header-data-menu {
          @include v7-viewtable-datamenu-shared;
          visibility: $v7-tableview-header-sort-button-active-visibility;
        }
      }

      .v7-tableview-dropdown-menu-card {
        @include mat-elevation(1);
        border-radius: $v7-tableview-dropdown-menu-card-border-radius;
        background-color: $background-subpanel-color;

        .datamenu-dropdown-item {
          @include pointer-cursor;
          &:hover {
            background-color: $tableview-row-hover;
          }
          &:focus {
            background-color: $tableview-row-selected;
          }
        }
      }
    }

    .skeletonPulse {
      margin-right: $v7-tableview-cell-loading-margin-right;
      height: $v7-tableview-cell-loading-height;
    }

    mat-footer-row {
      width: $mat-footer-row-width;
      min-height: $mat-footer-row-height;
      margin-top: $mat-footer-row-top;
      border-bottom-width: $mat-footer-row-border;
      display: flex;
      &.skeletonPulse {
        margin-right: $mat-footer-row-skeletonPulse-margin-right;
        margin-left: $mat-footer-row-skeletonPulse-margin-left;
      }
    }

    .v7-tableview-table-row {
      @include pointer-cursor;
      @include v7-viewtable-row-shared();
      @extend .v7-font-p;

      min-width: $mat-cell-min-width;
      display: flex;
      align-items: center;
      flex-basis: 0%;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-wrap: break-word;

      &.checkbox {
        padding-left: $v7-tableview-table-row-checkbox-padding;
        max-width: $v7-tableview-loading-table-checkbox-div-width;
        min-width: $v7-tableview-loading-table-checkbox-div-width;
        .skeletonPulse {
          max-width: $v7-tableview-loading-table-checkbox-skeleton-size;
          min-width: $v7-tableview-loading-table-checkbox-skeleton-size;
          min-height: $v7-tableview-loading-table-checkbox-skeleton-size;
          max-height: $v7-tableview-loading-table-checkbox-skeleton-size;
        }
      }
    }

    .v7-tableview-table-row-isOdd {
      background-color: $background-edge-color;
    }

    .mat-checkbox {
      .mat-checkbox-ripple {
        display: $v7-tableview-mat-checkbox-ripple-display;
      }
    }

    .v7-tableview-header-data-menu {
      width: $v7-tableview-header-menu-width;
      background-color: $background-subpanel-color;

      .tableview-header-data-menu-item {
        @extend .v7-font-p;
        padding: $v7-tableview-header-menu-item-padding;
        height: $v7-tableview-header-menu-item-height;
        background-color: $background-subpanel-color;
        line-height: $v7-tableview-header-menu-item-line-height;

        .mat-icon {
          width: $v7-tableview-header-menu-item-icon-size;
          height: $v7-tableview-header-menu-item-icon-size;
          margin-left: $v7-tableview-header-menu-item-icon-margin;
          margin-right: $v7-tableview-header-menu-item-icon-margin;
          fill: $main-color;

          svg {
            height: $v7-tableview-header-menu-item-icon-size;
            width: $v7-tableview-header-menu-item-icon-size;
          }
        }
        &:hover {
          background-color: $background-center-color;
        }
      }
    }

    .campaign-analyse-campaign-overview {
      padding: $campaign-analyse-campaign-overview-padding;
      .v7-dataview {
        padding-left: $campaign-analyse-campaign-overview-dataview-pad-left;
        padding-right: $campaign-analyse-campaign-overview-dataview-pad-right;
      }
    }

    .selection-table-overview {
      padding: $selection-table-overview-padding;
    }

    padding-left: 0rem;
    padding-right: 0rem;

  }

  v7-compass-report-header-component .v7-compass-header {
    max-width: none !important;
    max-height: none !important;
    // min-width: 6rem;
  }

  .v7-compass.v7-dataview.default-content-size {
    max-width: 100vw;
  }

  .v7-compass-full-page {
    .v7-compass-table-panel {
      width: calc(100vw - 19rem);
      max-width: calc(100vw - 19rem);
    }

    .v7-compass-header-panel {
      width: calc(100vw - 19rem);
      max-width: calc(100vw - 19rem);
    }
}

  .mbd-column-selection-hint-label {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mbd-fzg-delete-panel {
    padding: 0 0 0 20rem !important;
    justify-content: space-evenly;
  }

  .button-right {
    padding: 0 0 0 20rem !important;
    justify-content: flex-end;
  }

  .mbd-scrollable-overlay-panel {
    overflow: auto;
    max-height: 100%;
  }

/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  v7-compass-report-sheet-component {
      .compass-tree-node {
          min-height: 1.625rem !important;
          height: 1.625rem !important;
          max-height: 1.625rem !important;
      }
      .tree-dropzone-adjustment-panel {
        table {
            tr {
                &:last-child {
                    td {
                        min-height: 2rem !important;
                        height: 2rem !important;
                        max-height: 2rem !important;
                    }
                }
            }
        }
      }
    }
  }
  */

  /**
   * alert dialog
   **/

.assignment-alertdialog-panel-wrapper {

  mat-dialog-container {
    background-color: #F5F5F5;
  }

  .assignment-alertdialog-panel {

    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    .assignment-alertdialog-message {
      margin: 0rem 1rem 1rem 1rem;
    }

    .assignment-alertdialog-button {
      margin: 1rem 0rem 0rem 1rem !important;
    }

    .assignment-alertdialog-buttonbar {
      margin-top: auto;
      align-items: flex-start;
    }

    .assignment-alertdialog-wait {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    h2 {
      margin-top: 0.7rem !important;
    }

  }
}

.assignment-alertdialog-panel-wrapper-small {
    @extend .assignment-alertdialog-panel-wrapper;
    width: 35rem !important;
    height: 20rem !important;
}

.assignment-alertdialog-panel-wrapper-large {
    @extend .assignment-alertdialog-panel-wrapper;
    width: 42rem !important;
    height: 24rem !important;
}

.employee-table-center-panel {
  @extend .v7-assignment-tool-full-page;
  padding: 0px 0rem;
}

.absence-table-center-panel {
  @extend .v7-assignment-tool-full-page;
  padding: 0px 0rem;
}

.assignment-table-center-panel {
  @extend .v7-assignment-tool-full-page;
  padding: 0px 0rem;
}

.v7-startpage {

  overflow: auto !important;

  .assignment-workflow-select-wrapper {
    flex-wrap: nowrap;
    v7-workflow-select-component {
      width: inherit;
      &:last-child {
        padding-left: 0rem;
      }
      overflow: visible;
      & > div {
        overflow: visible !important;
        flex-wrap: wrap !important;
      }
    }
  }
}

.compass-report-settings {
  .mat-datepicker-toggle {
    display: none;
  }
  .mat-form-field-flex {
    width: 3.6rem;
  }
}

.mat-icon[svgIcon="close"] {
  position: relative;
  top: 7px;
  left: 3px;
}

v7-selected-entries-component .selected-entries {
  padding: 1rem 1rem !important;
}

.compass-report-settings {
  display: none !important;
}

v7-check-box-list-selection-element-component {
  .all-text {
    font-size: 15px !important;
    position: relative;
    bottom: 3px;
  }
  .mat-checkbox-label{
    font-size: 15px !important;
  }

}

.mat-chip-label {
  max-width: 16rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}