<div class="v7-dataview">
  <div *ngIf="state?.caption?.length > 0" class="dataview-header">
    <div class="dataview-caption">{{state?.caption}}</div>
  </div>
  <div class="dataview-body v7-tableview-body">
    <mat-card class="tableview-mat-card">
      <div class="w-100">
        <cdk-table #tableview class="v7-tableview-table table v7-table table-hover"
          [dataSource]="this.matDataSource">
          <!-- filter column-->
          <ng-container matColumnDef="filter">
            <th mat-header-cell class="filter v7-tableview-table-header-data" *matHeaderCellDef>
              <v7-table-view-filter-component [tableViewFilters]="getSelectedTableViewFilters()"
                [selectedFields]="getSelectedFields()" [selectedTableViewFilter]="getActiveTableViewFilterFieldId()"
                [filterMinLength]="state.filterMinLength" (filterValueTrigger)="refresh()">
              </v7-table-view-filter-component>
            </th>
          </ng-container>
          <ng-container *ngIf="data && data.header">
          <ng-container *ngFor="let header of data.header.concat([{caption: 'edit'}, {caption: 'delete'}]); let colIdx = index" [matColumnDef]="getHeaderId(header)">
          <!-- <ng-container *ngFor="let header of data.header; let colIdx = index" [matColumnDef]="getHeaderId(header)"> -->
            <!-- checkbox column-->
            <ng-container *ngIf="header.caption == 'select'">
              <th mat-header-cell class='v7-tableview-table-header-data checkbox' *matHeaderCellDef>
                <mat-checkbox disableRipple=true class="v7-tableview-checkbox"
                  [checked]="selection.hasValue() && isAllChecked()"
                  [indeterminate]="selection.hasValue() && !isAllChecked()" (click)="$event ? toggleAll() : null">
                </mat-checkbox>
              </th>
              <td mat-cell class='v7-tableview-table-row checkbox' *matCellDef="let row; let rowIdx = index">
                <mat-checkbox disableRipple=true class="v7-tableview-checkbox" (click)="$event.stopPropagation()"
                  (change)="$event ? toggleRow(rowIdx) : null" [checked]="isRowChecked(rowIdx)" *ngIf='row[colIdx+1] && !this.loading;else loadingtemplate'>
                </mat-checkbox>
              </td>
            </ng-container>
            <!-- edit column -->
            <ng-container *ngIf="header.caption == 'edit'">
              <th mat-header-cell class='v7-tableview-table-header-data edit-column' *matHeaderCellDef>
              </th>
              <td mat-cell class='v7-tableview-table-row edit-column' *matCellDef="let row; let rowIdx = index">
                <!-- <ng-container *ngIf='row[colIdx] && row[colIdx].value;else loadingtemplate'> -->
                  <button (click)="edit(rowIdx)" class="btn btn-md">
                    <mat-icon matTooltip="Edit" svgIcon="edit">
                    </mat-icon>
                  </button>
                <!-- </ng-container> -->
              </td>
            </ng-container>
            <!-- delete column -->
            <ng-container *ngIf="header.caption == 'delete'">
              <th mat-header-cell class='v7-tableview-table-header-data delete-column' *matHeaderCellDef>
              </th>
              <td mat-cell class='v7-tableview-table-row delete-column' *matCellDef="let row; let rowIdx = index">
                <!-- <ng-container *ngIf='row[colIdx] && row[colIdx].value;else loadingtemplate'> -->
                  <button (click)="showDeleteDialog(rowIdx)" class="btn btn-md">
                    <mat-icon matTooltip="Delete" svgIcon="delete">
                    </mat-icon>
                  </button>
                <!-- </ng-container> -->
              </td>
            </ng-container>
            <!-- regular columns -->
            <ng-container *ngIf="header.caption != 'select' && header.caption != 'edit' && header.caption != 'delete'">
              <th mat-header-cell class='v7-tableview-table-header-data' *matHeaderCellDef draggable="true"
                (dragstart)="setDraggedHeaderColumn(header)" (drop)="onColumnHeaderDrop(header)">
                <div class="v7-tableview-table-header-data-container">
                  <div class="v7-tableview-table-header-data-content" (click)="sortData(header)">
                    <span class="v7-tableview-sort-button"
                      [ngClass]="header.ascending != null ? 'v7-tableview-sort-button-active': ''">
                      <mat-icon *ngIf="header.ascending || header.ascending == null" aria-hidden="false"
                        svgIcon="arrow_upward"></mat-icon>
                      <mat-icon *ngIf="header.ascending == false" aria-hidden="false" svgIcon="arrow_downward">
                      </mat-icon>
                    </span>
                    <span *ngIf="isFieldFiltered(header.id)" class="v7-tableview-filter-icon"
                      [ngClass]="isActiveTableViewFilter(header.id)? 'v7-tableview-filter-icon-selected': ''">
                      <mat-icon aria-hidden="false" svgIcon="v7-funnel"></mat-icon>
                    </span>
                    {{header.caption}}
                  </div>
                  <a #matMenuTrigger [matMenuTriggerFor]="sortMenu" class="v7-tableview-table-header-data-menu"
                    (menuOpened)="setSelectedTrigger(colIdx)" (menuClosed)="setSelectedTrigger(null)"
                    [style.visibility]="isMatMenuOpened(colIdx) ? 'visible': ''">
                    <mat-icon *ngIf="selectedTrigger == null || (selectedTrigger != null && selectedTrigger != colIdx)"
                      aria-hidden="false" svgIcon="arrow_drop_down"></mat-icon>
                    <mat-icon *ngIf="selectedTrigger == colIdx" aria-hidden="false" svgIcon="arrow_drop_up"></mat-icon>
                  </a>
                  <mat-menu #sortMenu="matMenu" overlapTrigger=false class="v7-tableview-header-data-menu">

                    <button class="tableview-header-data-menu-item" mat-menu-item disableRipple="true"
                      (click)="sortCustom()">
                      <span>
                        <mat-icon aria-hidden="false" svgIcon="sort_by_alpha"></mat-icon>Benutzerdefiniertes Sortieren
                      </span>
                    </button>

                    <button class="tableview-header-data-menu-item" mat-menu-item disableRipple="true"
                      (click)="toggleActiveTableViewFilterFieldId(header.id)">
                      <span>
                        <mat-icon aria-hidden="false" svgIcon="v7-funnel"></mat-icon>Filter
                      </span>
                    </button>

                    <button class="tableview-header-data-menu-item" mat-menu-item disableRipple="true"
                      [disabled]="isFixedField(header.id)" (click)="unselectField(header.caption)">
                      <mat-icon aria-hidden="false" svgIcon="visibility_off"></mat-icon>
                      <span>Ausblenden</span>
                    </button>
                  </mat-menu>
                </div>
              </th>
              <td mat-cell class='v7-tableview-table-row' *matCellDef="let row; let rowIdx= index">
                <ng-container *ngIf='row[colIdx] && row[colIdx].value;else loadingtemplate'>
                  {{state.selectedFields[colIdx-(state.selectableRows?1:0)]?.getUserFriendlyCaption(row[colIdx].value)}}
                </ng-container>
              </td>
            </ng-container>
          </ng-container>
        </ng-container>
          <!---->
          <tr mat-header-row class="v7-tableview-mat-row" *matHeaderRowDef="buildMatTableStringHeader()"
            (dragover)="fireDragOver($event)"></tr>
          <tr mat-header-row class="filter" *matHeaderRowDef="['filter']"
            [style.display]="getActiveTableViewFilterFieldId() != null ? 'inherit':'none'"></tr>
          <!--<tr mat-header-row class="filter" *matHeaderRowDef="['selectedEntries']" [style.display]="selectedTableViewFilter != null ? 'inherit':'none'"></tr>-->
          <tr mat-row *matRowDef="let row; columns: buildMatTableStringHeader(); let rowIdx = index"
            (click)="selectRow(rowIdx, $event)" (dblclick)="fireAction()"
            [class.v7-tableview-table-row-selected]="isSelectedRow(rowIdx)"></tr>
        </cdk-table>
      </div>
      <v7-table-view-pagination-component [limit]="state?.limit" [offset]="state?.offset" [lineCount]="data?.lineCount"
        (pageChange)="firePageChange($event)">
      </v7-table-view-pagination-component>
    </mat-card>
  </div>
  <v7-dataview-footer-component [xValue]="this.data?.mainKPIValue" [unit]="this.state?.mainKPI?.unit"
    [selectableKPIs]="this.state?.selectableKPIs" [mainKPIid]="this.state?.mainKPI?.id"
    (kpiChange)="fireKPIChange($event)"></v7-dataview-footer-component>
</div>

<ng-template #loadingtemplate>
  <div class='skeleton skeletonPulse'> </div>
</ng-template>
