<mat-form-field color="primary" class="tableview-filter-input-field" appearance="outline" *ngIf="getSelectedTableViewFilter()">
  <mat-label>{{getSelectedTableViewFilter().filterField.caption}} eingeben</mat-label>
  <mat-icon matPrefix class="search-magnifier" svgIcon="search"></mat-icon>
  <input type="search" [value]="searchFieldValue" (input)="onInputChange($event)" matInput name="suche" [matAutocomplete]="tableFilter" (optionSelected)="onEnterPressed($event.option.value, true)">
</mat-form-field>
<mat-autocomplete #tableFilter="matAutocomplete"  (optionSelected)="onEnterPressed($event.option.value, true)">
  <mat-option *ngFor="let value of searchValues?.hierarchyElements" [value]="value.name" (click)="addFilterValue(value.name)">
      {{value.name}}
  </mat-option>
</mat-autocomplete>
<mat-divider></mat-divider>

  <ng-container *ngIf="getSelectedTableViewFilter() && getSelectedTableViewFilter()?.filterValues?.length > 0">
      <v7-selected-entries-component #tableViewFilterSelectedEntries [showSearchField]='false' [selectedItems]='selectedItems' [isChecked]="true" (uncheckItemEvent)="removeSelectedItem($event)" (checkAllEvent)="removeAllSelectedItems()" [showDivider]="false"></v7-selected-entries-component>
  </ng-container>
