
/// @group ProjectTableViewFilterComponent

//Padding
$v7-tableview-filter-form-field-padding: 1rem !default;
$v7-tableview-filter-form-field-padding-bottom: calculateRem(9px) !default;

$v7-tableview-filter-wrapper-height: calculateRem(40px) !default;
$v7-tableview-filter-wrapper-width: calculateRem(300px) !default;
$v7-tableview-filter-field-flex-align-items: center !default;
$v7-tableview-filter-prefix-top: 0 !default;
$v7-tableview-filter-padding-right: 0.5rem !default;
$v7-tableview-filter-outline-top: 0 !default;
$v7-tableview-filter-inflix-top: 0 !default;
$v7-tableview-filter-infix-border: none !default;
$v7-tableview-filter-inflix-border: none !default;
$v7-tableview-filter-padding: 0.4em 0 !default;
$v7-tableview-filter-label-wrapper-margin: 0 !default;
$v7-tableview-filter-label-wrapper-padding: 0 !default;
$v7-tableview-filter-label-wrapper-height: calculateRem(60px) !default;
$v7-tableview-filter-label-wrapper-top: -1.5em !default;
$v7-tableview-filter-label-margin: 0 !default;

$v7-tableview-filter-transition: translateY(-1.1em) scale(.75) !default;
$v7-tableview-filter-transition-width: 133.33333%  !default;

$v7-tableview-filter-selected-entries-container-height: calculateRem(53px) !default;
$v7-tableview-filter-selected-entries-container-border-top:  calculateRem(1px) solid $divider-color !default;

v7-table-view-filter-component {
    .tableview-filter-container{

      .mat-divider{
        border-top-color: $background-center-color;
      }

        mat-form-field{
          padding: $v7-tableview-filter-form-field-padding;
          padding-bottom: $v7-tableview-filter-form-field-padding-bottom;

        .mat-form-field-wrapper{
          height: $v7-tableview-filter-wrapper-height;
          width: $v7-tableview-filter-wrapper-width;

          .mat-form-field-flex{
            width: $v7-tableview-filter-wrapper-width;
            height: $v7-tableview-filter-wrapper-height;
            align-items: $v7-tableview-filter-field-flex-align-items;

            .mat-form-field-prefix{
              top: $v7-tableview-filter-prefix-top;
              padding-right: $v7-tableview-filter-padding-right;
            }

            .mat-form-field-outline{
              top: $v7-tableview-filter-outline-top;
            }

            .mat-form-field-infix{
                top: $v7-tableview-filter-inflix-top;
                border: $v7-tableview-filter-infix-border;

                padding: $v7-tableview-filter-padding; //!important;

                .mat-form-field-label-wrapper{
                  margin: $v7-tableview-filter-label-wrapper-margin;
                  padding: $v7-tableview-filter-label-wrapper-padding;
                  height: $v7-tableview-filter-label-wrapper-height;
                  top: $v7-tableview-filter-label-wrapper-top;
                }
                .mat-form-field-label{
                  margin: $v7-tableview-filter-label-margin;
                }

            }
          }
        }
      }

      .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        transform: $v7-tableview-filter-transition;
        width: $v7-tableview-filter-transition-width ;
      }

      .selected-entries-container{
        height: $v7-tableview-filter-selected-entries-container-height;
        border-top: $v7-tableview-filter-selected-entries-container-border-top;
      }
    }
  }
