/*
    Created on : 24.01.2018, 11:30:57
    Author     : acw

    Here you should be able to use and/or overwrite all rules and variables from
    the v7 client core main.scss and it's imported styles. You should also be
    able to overwrite bootstrap rules and variables.
*/


@import '~node_modules/@profect/v7-core-lib/styles/global/v7-mixins';


// $main-color: magenta;
// $second-color: purple;
// $background-center-color: white;

$v7-font-h1-size: calculateRem(20px);
$v7-font-h2-size: calculateRem(16px);
$v7-font-buttons-size: calculateRem(12px);
$v7-font-p-size: calculateRem(12px);
$v7-font-p-strong-size: calculateRem(12px);
$v7-font-label-size: calculateRem(10px);
$v7-font-p-small-size: calculateRem(10px);
$v7-font-p-small-strong-size: calculateRem(10px);
$v7-font-hint-size: calculateRem(10px);

/*
$compass-row-height: 2rem;
$compass-tree-node-height-chrome: 1.625rem !important;
$compass-tree-node-heigth-firefox: 1.6rem !important;
$compass-column-width: 6rem;
*/


@import '~node_modules/@profect/v7-core-lib/styles/main';

// @import '~node_modules/@profect/v7-campaign-management-lib/src/style.scss';
// @import '~node_modules/@profect/v7-dataview-chart-lib/src/style.scss';
@import '~node_modules/@profect/v7-dataview-compass-lib/src/style.scss';
// @import '~node_modules/@profect/v7-dataview-mapchart-lib/src/style.scss';
// @import '~node_modules/@profect/v7-dataview-selection-lib/src/style.scss';
// @import '~node_modules/@profect/v7-dms-lib/src/style.scss';
@import '~node_modules/@profect/v7-formbuilder-lib/src/style.scss';

@import './styles/angular-material-theme';
@import './styles/assignment-tool';

