/*
    Created on : 23.11.2018, 10:03:24
    Author     : job
*/


/// @group ProjectTableViewPaginationComponent

// Colors
$v7-tableview-pagination-background-color-active: $second-color !default; // Highlight color of the active page button
$v7-tableview-pagination-font-color: $main-font-color !default; // Default font color of page numbers
$v7-tableview-pagination-font-color-active: $background-subpanel-color !default; // Font color of the active page button

// Fontsize
$v7-tableview-pagination-font-size: calculateRem(10px) !default; // Font size of page numbers

//Dimensions
$v7-tableview-pagination-line-height: calculateRem(14px); // Line height of the page buttons
$v7-tableview-pagination-button-dimension: calculateRem(16px) !default; // Width and Height of the page buttons
$v7-tableview-pagination-arrow-dimension: calculateRem(24px) !default; // Size of prev/next arrows for pagination control
$v7-tableview-pagination-button-margin: 0 calculateRem(1px) calculateRem(16px) calculateRem(1px) !default; // Marging of the page buttons
$v7-tableview-pagination-arrow-margin: 0 calculateRem(8px) 0 calculateRem(8px); // Margin of the prev / next arrow buttons
$v7-tableview-pagination-dot-margin: 0 calculateRem(8px) calculateRem(16px) calculateRem(3px); // Margin of the dots between page buttons

v7-table-view-pagination-component {
    display: flex;
    justify-content: center;
    align-items: baseline;

    .v7-tableview-pagination-button{
        min-width: $v7-tableview-pagination-button-dimension;
        height: $v7-tableview-pagination-button-dimension;
        color: $v7-tableview-pagination-font-color;
        font-size: $v7-tableview-pagination-font-size;
        line-height: $v7-tableview-pagination-line-height;
        border-radius: 0;
        padding: 0;
        margin: $v7-tableview-pagination-button-margin;
        font-family: $v7-font-family;

        // &.mat-icon-button:not([disabled]){
        //     color: $main-color-active;
        // }

        &.mat-icon-button[disabled]{
            mat-icon{
                svg{
                    color: $hint-color;
                }
            }
            &:hover{
                mat-icon{
                    svg{
                        color: $hint-color;
                    }
                }
            }
        }
        &.mat-icon-button:hover{
            color:$main-color-hover;
        }

        .mat-icon{
            line-height: $v7-tableview-pagination-line-height;
            width: $v7-tableview-pagination-arrow-dimension;
            height: $v7-tableview-pagination-arrow-dimension;
            padding: 0;

            //font-size: 36px;
        }

        .mat-button-wrapper{
            padding: 0;
            line-height: $v7-tableview-pagination-line-height;
        }

        &.mat-button {
            font-size: $v7-tableview-pagination-font-size;
        }

        &.active{
            color: $v7-tableview-pagination-font-color-active;
            background-color: $v7-tableview-pagination-background-color-active;
        }
    }

    .v7-tableview-pagination-arrow{
        width: $v7-tableview-pagination-arrow-dimension;
        margin: $v7-tableview-pagination-arrow-margin;
    }

    .v7-tableview-pagination-dot{
        vertical-align: middle;
        height: $v7-tableview-pagination-button-dimension;
        line-height: $v7-tableview-pagination-line-height;
        margin: $v7-tableview-pagination-dot-margin;
    }
}
