<nav *ngIf="lineCount > limit">
  <!--Exactly 2 pages to display-->
  <ng-container *ngIf="this.getMaxPages() == 2">
    <!--Previous-->
    <button [disabled]="offset === 0" class="v7-tableview-pagination-button v7-tableview-pagination-arrow"
      mat-icon-button aria-label="Previous" (click)="fireNavPagination(-1)">
      <mat-icon svgIcon="chevron_left" aria-label="left arrow icon"></mat-icon>
      <span class="sr-only">Previous</span>
    </button>

    <!--Pagination items-->
    <button class="v7-tableview-pagination-button" mat-button [ngClass]="{'active': offset === 0 || offset == null}"
      (click)="firePagination(1)">1</button>
    <button class="v7-tableview-pagination-button" mat-button [ngClass]="{'active': offset === this.limit}"
      (click)="firePagination(2)">2</button>

    <!--Next-->
    <button [disabled]="offset === this.getMaxPages()"
      class="v7-tableview-pagination-button v7-tableview-pagination-arrow" mat-icon-button aria-label="Next"
      (click)="fireNavPagination(1)">
      <mat-icon svgIcon="chevron_right" aria-label="right arrow icon"></mat-icon>
      <span class="sr-only">Next</span>
    </button>
  </ng-container>

  <!--7 or less pages to display-->
  <ng-container *ngIf="this.getMaxPages() > 2 && this.getMaxPages() <= 7">
    <!--Previous-->
    <button [disabled]="offset === 0" class="v7-tableview-pagination-button v7-tableview-pagination-arrow"
      mat-icon-button aria-label="Previous" (click)="fireNavPagination(-1)">
      <mat-icon svgIcon="chevron_left" aria-label="left arrow icon"></mat-icon>
      <span class="sr-only">Previous</span>
    </button>

    <!--Pagination items-->
    <ng-container *ngFor="let page of this.getSmallPageArray()">
      <button class="v7-tableview-pagination-button" mat-button
        [ngClass]="{'active': offset == page * limit - limit || page == 1 && offset == null}"
        (click)="firePagination(page)">{{page}}</button>
    </ng-container>

    <!--Next-->
    <button [disabled]="offset === this.getMaxPages()"
      class="v7-tableview-pagination-button v7-tableview-pagination-arrow" mat-icon-button aria-label="Next"
      (click)="fireNavPagination(1)">
      <mat-icon svgIcon="chevron_right" aria-label="right arrow icon"></mat-icon>
      <span class="sr-only">Next</span>
    </button>
  </ng-container>

  <!--More than 7 pages to display-->
  <ng-container *ngIf="this.getMaxPages() > 7">
    <!--Previous-->
    <button [disabled]="offset === 0" class="v7-tableview-pagination-button v7-tableview-pagination-arrow"
      mat-icon-button aria-label="Previous" (click)="fireNavPagination(-1)">
      <mat-icon svgIcon="chevron_left" aria-label="left arrow icon"></mat-icon>
      <span class="sr-only">Previous</span>
    </button>

    <!--first page-->
    <button class="v7-tableview-pagination-button" mat-button [ngClass]="{'active': offset == null || offset == 0}"
      href="#" (click)="firePagination(1)">1</button>

    <!--ellipsis1-->
    <ng-container *ngIf="offset > 4*limit">
      <span class="v7-tableview-pagination-dot">...</span>
    </ng-container>

    <!--Pagination items-->
    <ng-container *ngFor="let page of this.getLargePageArray(this.offset/limit+1)">
      <button class="v7-tableview-pagination-button" mat-button [ngClass]="{'active': offset === page * limit - limit}"
        (click)="firePagination(page)">{{page}}</button>
    </ng-container>

    <!--ellipsis2-->
    <ng-container *ngIf="offset < lineCount - 3 * limit">
      <span class="v7-tableview-pagination-dot">...</span>
    </ng-container>

    <!--last page-->
    <button class="v7-tableview-pagination-button" mat-button
      [ngClass]="{'active': offset == this.getMaxPages()*limit -limit}"
      (click)="firePagination(this.getMaxPages())">{{this.getMaxPages()}}</button>

    <!--Next-->
    <button [disabled]="offset === this.getMaxPages()"
      class="v7-tableview-pagination-button v7-tableview-pagination-arrow" mat-icon-button aria-label="Next"
      (click)="fireNavPagination(1)">
      <mat-icon svgIcon="chevron_right" aria-label="right arrow icon"></mat-icon>
      <span class="sr-only">Next</span>
    </button>
  </ng-container>

  <!--Material paginator for future-->
  <!--    <button mat-icon-button (click)="page.pageIndex = page.pageIndex-1; firePagination(page.pageIndex+1)"><mat-icon aria-label="left arrow icon">chevron_left</mat-icon></button>
    <button mat-fab [color]="(page.pageIndex == 0)? 'primary':'accent'" (click)="page.pageIndex = 0; firePagination(1)">1</button>
        <ng-container *ngIf="page.pageIndex < 5; else elseBlock">
          <button mat-fab [color]="((offset-limit)/limit == 2)? 'primary':'warn'" (click)="page.pageIndex = 1; firePagination(2)">2</button>
          <button mat-fab [color]="(page.pageIndex == 2)? 'primary':'accent'" (click)="page.pageIndex = 2; firePagination(3)">3</button>
          <button mat-fab [color]="(page.pageIndex == 3)? 'primary':'accent'" (click)="page.pageIndex = 3; firePagination(4)">4</button>
          <button mat-fab [color]="(page.pageIndex == 4)? 'primary':'accent'" (click)="page.pageIndex = 4; firePagination(5)">5</button>
          <button mat-icon-button><mat-icon aria-label="left arrow icon">more_horiz</mat-icon></button>
        </ng-container>
        <ng-template #elseBlock>
            <ng-container *ngIf="page.pageIndex > this.getMaxPages()-6; else defaultBlock">
                <button mat-icon-button><mat-icon aria-label="left arrow icon">more_horiz</mat-icon></button>
                <button mat-fab [color]="(page.pageIndex == this.getMaxPages()-5)? 'primary':'accent'" (click)="page.pageIndex = this.getMaxPages()-5; firePagination(page.pageIndex+1)">{{getMaxPages()-4}}</button>
                <button mat-fab [color]="(page.pageIndex == this.getMaxPages()-4)? 'primary':'accent'" (click)="page.pageIndex = this.getMaxPages()-4; firePagination(page.pageIndex+1)">{{getMaxPages()-3}}</button>
                <button mat-fab [color]="(page.pageIndex == this.getMaxPages()-3)? 'primary':'accent'" (click)="page.pageIndex = this.getMaxPages()-3; firePagination(page.pageIndex+1)">{{getMaxPages()-2}}</button>
                <button mat-fab [color]="(page.pageIndex == this.getMaxPages()-2)? 'primary':'accent'" (click)="page.pageIndex = this.getMaxPages()-2; firePagination(page.pageIndex+1)">{{getMaxPages()-1}}</button>
            </ng-container>
            <ng-template #defaultBlock>
                <button mat-icon-button><mat-icon aria-label="left arrow icon">more_horiz</mat-icon></button>
                <button mat-fab (click)="page.pageIndex = page.pageIndex-2; firePagination(page.pageIndex+1)">{{page.pageIndex-2}}</button>
                <button mat-fab (click)="page.pageIndex = page.pageIndex-1; firePagination(page.pageIndex+1)">{{page.pageIndex-1}}</button>
                <button mat-fab >{{page.pageIndex}}</button>
                <button mat-fab (click)="page.pageIndex = page.pageIndex+1; firePagination(page.pageIndex+1)">{{page.pageIndex+1}}</button>
                <button mat-fab (click)="page.pageIndex = page.pageIndex+2; firePagination(page.pageIndex+1)">{{page.pageIndex+2}}</button>
                <button mat-icon-button><mat-icon aria-label="left arrow icon">more_horiz</mat-icon></button>
            </ng-template>
        </ng-template>

    <button mat-fab [color]="(page.pageIndex == this.getMaxPages()-1)? 'primary':'accent'" (click)="page.pageIndex = this.getMaxPages()-1; firePagination(page.pageIndex+1)">{{getMaxPages()}}</button>
    <button mat-icon-button (click)="page.pageIndex = page.pageIndex+1; firePagination(page.pageIndex+1)"><mat-icon aria-label="left arrow icon">chevron_right</mat-icon></button>
    <mat-paginator style="visibility:hidden" #page [length]="this.getMaxPages()" [pageSize]="1"></mat-paginator>-->

</nav>
<nav *ngIf="lineCount == undefined">
  <!--Previous-->
  <button disabled="true" class="v7-tableview-pagination-button v7-tableview-pagination-arrow" mat-icon-button
    aria-label="Previous">
    <mat-icon svgIcon="chevron_left"></mat-icon>
  </button>

  <!--Pagination items-->
  <button disabled="true" class="v7-tableview-pagination-button" mat-button><div class="skeleton skeletonPulse"></div></button>
  <button disabled="true" class="v7-tableview-pagination-button" mat-button><div class="skeleton skeletonPulse"></div></button>
  <button disabled="true" class="v7-tableview-pagination-button" mat-button><div class="skeleton skeletonPulse"></div></button>

  <!--Next-->
  <button disabled="true" class="v7-tableview-pagination-button v7-tableview-pagination-arrow" mat-icon-button
    aria-label="Next">
    <mat-icon svgIcon="chevron_right"></mat-icon>
  </button>
</nav>
